body {
	padding-top: 0px;
	background-color: white;
	font-family: Open Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	position: relative;  
     
	.navbar {
		background-color: #2e343a!important;
		button{
			border-color: black!important; 
		}
		.nav-link{
			font-size: 20px;
			&:not(.active){
				color: white;
			 
			}
			&.active{
				font-size: 20px;
				color: black;
				font-weight: bold;
			}
		}
	}

	#main-container{
		padding: 0px;
	}


	#button  {
		display: inline-block;
		background-color: #aaa;
		width: 50px;
		height: 50px;
		text-align: center;
		border-radius: 4px;
		position: fixed;
		bottom: 30px;
		right: 30px;
		transition: background-color .3s, 
		  opacity .5s, visibility .5s;
		opacity: 0;
		visibility: hidden;
		z-index: 1000;
  



		
		&::after {
			content: "\f077";
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			font-size: 2em;
			line-height: 50px;
			color: #fff;
		  }
		  &:hover {
			cursor: pointer;
			background-color: #333;
		  }
		  &:active {
			background-color: #555;
		  }
		  &.show {
			opacity: 1;
			visibility: visible;
		  }
	  }
	   
	  @media (min-width: 500px) {
		
		#button {
		  margin: 30px;
		}
	  }








	.section-name {
		padding: 70px;
		text-align: center;
		background-color: #4a7d95;
	  }
  

	.act-container{ 
		min-height: 250px;
		h2 {
			text-align: center;
			padding:15px ;
			background-color: #eee;
			font-weight: bold;

			&.content-section-header {
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
			}
		  }

		  .highlight-table{
			color: #842029;
			font-weight: bold;
			border: 1px solid #ccc;
			padding-top: 2px;
			padding-bottom: 2px;
			padding-left: 5px;
			padding-right: 6px;
			background-color: #f8d7da;
			border-color: #f5c2c7;
		  }

		  .content-section-header {
			background: #eee;
			border-radius: 3px;
			margin-bottom: 15px;
			padding: 8px 14px;
			position: relative;

			.content-section-header-border {
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
			}
			h2 {
				 
				line-height: 15px;
				text-align: center;
				padding: 15px;
				background-color: #eee;
				font-weight: bold;
			}
		}

		  .cue-title {
			text-align: center;
			font-weight: bold;
			color: blue;
		  }
	  
		  .cue-container {
			padding-right: 15px;
			p {
				font-size: 18px;
				padding-top: 5px;
				padding-bottom: 5px;
				text-align: justify; 
			  }

			  .hword {
				font-size: 39px;
				line-height: 52px;
			}
			h2
			{
				background-color: white;
				&.parts-of-speech div{
					font-size: 24px;
					font-style: normal;
					font-weight: 700;
					line-height: 34px;
					color: #4a7d95;
					text-decoration: none;
					
				}
			}
			  img{
				display: block;
				margin-left: auto;
				margin-right: auto;
				padding-bottom: 25px;
			  }

			.vg-sseq-entry-item{
				 
				display: flex;
				padding-bottom: 20px;
				padding-top: 0;
				position: relative;
				.vg-sseq-entry-item-label {
					color: #303336;
					font-family: Open Sans,Helvetica,Arial,sans-serif;
					font-size: 19px;
					font-style: normal;
					font-weight: 700;
					line-height: 28px;
					min-width: 20px;
					text-align: center;
				}

				.vg-sseq-entry-item-thread-anchor {
					background: linear-gradient(180deg,#cbe1ea,rgba(203,225,234,.48) 21.21%,rgba(203,225,234,.48) 78.8%,rgba(203,225,234,.9));
					background: linear-gradient(180deg,#bbd5e0,#deeaef 17.8%,#deeaef 81.87%,#bbd5e0);
					border-radius: 4px;
					display: block;
					height: calc(100% - 37px);
					left: 9px;
					position: absolute;
					top: 33px;
					width: 3px;
				}
			}
			// .sense.has-num-only {
			// 	padding-left: 10px;
			// }
			.sense {
				display: flex;
			}
			.sb-entry{
				font-size: 18px;
				padding-top: 5px;
				padding-bottom: 5px;
				text-align: justify;
			}
		  }
	}

}

 
 
main {

	@media (min-width: 1200px) {}

 
}


 



/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}